main {
  flex: 1;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 30px;
}

.current-group-header {
  display: flex;
  align-items: center;
  margin: 0 0 30px 10px;
}

.current-group-header h1 {
  font-size: 24px;
  font-weight: 400;
}

#show-create-form {
  color: var(--highlight-color);
  font-size: inherit;
  background: url("src/assets/plus.png") no-repeat left center;
  display: block;
  border: none;
  margin: 20px 0 15px 13px;
  padding-left: 27px;
  cursor: pointer;
}

.todo a:hover {
  color: var(--highlight-color);
}

.todo button {
  flex-shrink: 0;
  height: 14px;
  width: 14px;
  background: transparent;
  color: transparent;
}

.todo .checkbox {
  background-image: url("/src/assets/unticked-box.png");
}

.todo.completed .checkbox {
  background-image: url("/src/assets/ticked-box.png");
}

.todo .delete {
  background: url("/src/assets/trash.png") no-repeat center;
  height: 100%;
  width: 50px;
}

.todo .delete:hover {
  background-color: rgba(255, 0, 0, 0.5);
}
